{% extends 'base.html.twig' %}

{% block title %}Edit Coupon{% endblock %}

{% block body %}
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Edit Coupon</h3>
        </div>
        {{ form_start(form) }}
        <div class="card-body">
            {{ form_widget(form) }}
        </div>
 </div>
        <div class="card-footer"style="background-color: #eaeaea ;">
            <button style="paddding-left:-2px;background-color: transparent ;" class="btn btn-danger btn-back icn4">{{ button_label|default('Save') }}</button>

            <a style="background-color: transparent;border-color:red !important" class="btn btn-danger2 btn-back-icn4" href="{{ path('app_coupon_show',{id:company.id}) }}">Cancel</a>
        </div>
        {{ form_end(form) }}
   
{% endblock %}
