{% extends 'base.html.twig' %}

{% block title %}Coupons
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-12">
			<div class="main-order-pg-btn-flex">
				<div class="accept-order-img">
					<img class="img-set" src="{{ asset('build/images/TwoTickets.png') }}" alt="Logo">
					<h2 class="title-heading1">Coupons</h2>
				</div>
				<div class="order-pg-btn-flex">
					<div class="order-pg-btn1">
						<img class="img-order-pix" src="{{ asset('build/images/Receipt.png') }}" alt="Logo">
						<div>
							<p class="img-side-text-order">New Orders(7)</p>
						</div>
					</div>
					<div class="order-pg-btn2">
						<img class="img-order-pix" src="{{ asset('build/images/Receipt.png') }}" alt="Logo">
						<div>
							<p class="img-side-text-order">New Quote(0)</p>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-12 bgcolor-table">
					<div class="card" style="border-radius:15px !important;">
						<div class="card-header">
							<div class="company-searcher">
								<div class="input-container">
									<input id="searchField" class="search-feild-text" type="text" placeholder="Search" style="margin-top: 30px;">
									<i class="fa fa-search"></i>
								</div>
								{% if is_granted('ROLE_ADMIN') %}
									<div class="card-tools d-flex">
										<ul class="nav nav-pills ml-auto" style="height: 30px;">
											<li class="nav-item" style="margin-top: 30px !important;">
												<a href="{{ path('app_coupon_new') }}" class="btn btn-primary btn-block btn-sm companies-btn" style="padding-top:4px;width:150px">
													<i class="fa fa-plus icn4" style=" margin-top: 3px !important;"></i>
													Add Coupon</a>
											</li>
										</ul>
                                        <span class="mt-2" id="entriesDropdownContainer" style="margin-left: 20px;width: 75px;"></span>
									</div>

								{% endif %}

							</div>
						</div>
						<div class="card-body">
							<table class="table table-bordered table-hover" id="couponTableList">
								<thead>
									<tr>
										<th>Coupon Code</th>
										<th>Discount</th>
										<th>Active</th>
										<th>Actions</th>
									</tr>
								</thead>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block inlineJs %}
	 <script>
	    $(document).ready(function () {
	        // Initialize the DataTable
	        let table = $('#couponTableList').DataTable({
	            "paging": true,
	            "ordering": false,
	            "responsive": true,
	            "processing": true,
	            "serverSide": true,
	            "ajax": {
	                "url": "{{ path('app_coupon_index') }}",
	                "type": 'POST',
	                "data": function (d) {
	                    d.search.value = $('#searchField').val(); // Pass search input value to backend
	                }
	            },
	            "columns": [
	                {"data": "coupon"},
	                {"data": "discount"},
	                {
	                    "data": "active",
	                    "render": function (data) {
	                        return data ? '<i class="fas fa-check-square"></i>' : '<i class="far fa-square"></i>';
	                    }
	                },
	                {
	                    "data": "action",
	                    "render": function (data) {
	                        return '<a href="' + data['details'] + '" class="btn btn-default"><i class="fas fa-info-circle icn"></i> Details</a>';
	                    }
	                }
	            ]
	        });
	
		    // Move "Show Entries" dropdown next to Add Company button
				    let entriesDropdown = $('#couponTableList_length').detach();
				    $('#entriesDropdownContainer').append(entriesDropdown);
	
	        // Trigger search on input change
	        $('#searchField').on('input', function () {
	            table.search(this.value).draw();
	        });
	    });
	</script>
{% endblock %}
