{% extends 'base.html.twig' %}

{% block title %}Coupons{% endblock %}

{% block body %}

<div class="row">
        <div class="col-12">
<div class="main-order-pg-btn-flex">

<div class="accept-order-img">
{# <img class="img-set" src="\build\images\Two Tickets.0c087e13.png" > #}
<img class="img-set"  src="{{ asset('build/images/TwoTickets.png') }}" alt="Logo">


<h2 class="title-heading1">Coupons</h2>
</div>

<div class="order-pg-btn-flex">
<div class="order-pg-btn1">
{# <img  src="\build\images\Receipt.bedbb541.png" class="img-order-pix"> #}
<img  class="img-order-pix"  src="{{ asset('build/images/Receipt.png') }}" alt="Logo">

<div>

 <p class="img-side-text-order" > New Orders(7)</p>
 </div>
</div>

<div class="order-pg-btn2">
{# <img  src="\build\images\Receipt.bedbb541.png" class="img-order-pix"> #}
<img  class="img-order-pix"  src="{{ asset('build/images/Receipt.png') }}" alt="Logo">

<div>

 <p class="img-side-text-order" > New Ouote(0)</p>
 </div>
</div>
</div>
</div>

    <div class="row">
        <div  class="col-12 bgcolor-table">
            <div class="card"style="border-radius:15px !important;">
                <div class="card-header">
                    <div class="company-searcher">
                    <div class="input-container">
      <input type="text" placeholder="Search">
      <i class="fa fa-search"></i>
    </div>
                    {% if is_granted('ROLE_ADMIN')  %}
                        {# <div class="card-tools">
                            <ul class="nav nav-pills ml-auto">
                                <li class="nav-item">
                                    <a href="{{ path('app_coupon_new') }}" class="btn btn-primary btn-block btn-sm">
                                        <i class="fa fa-plus"></i> Add Coupon</a>
                                </li>
                            </ul>
                        </div> #}
                    {% endif %}

                </div>
                <div class="card-body">
                    <table class="table table-bordered table-hover" id="couponTableList">
                        <thead>
                        <tr>
                            <th>Coupon Code</th>
                            <th>Discount</th>
                            <th>Active</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block inlineJs %}
    <script>
        $(document).ready(function () {
            $('#couponTableList').DataTable({
                "paging": true,
                "ordering": false,
                "responsive": true,
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "{{ path('app_coupon_index') | raw }}",
                    "type": 'POST',
                    global: true
                },
                "columns": [
                    {"data": "coupon"},
                    {"data": "discount"},
                    
                    {
                        "data": "active",
                        "render": function (data) {
                            if (data) {
                                return '<i class="fas fa-check-square"></i>';
                            }
                            return '<i class="far fa-square"></i>';
                        }
                    },
                    {
                        "data": "action",
                        "render": function (data) {
                            return '<a href="' + data['details'] + '" class="btn btn-default"><i class="fas fa-info-circle icn"></i> Details</a>';
                        }
                    }
                ]
            });

        });
    </script>
{% endblock %}


