{% extends 'base.html.twig' %}

{% block title %}New coupon{% endblock %}

{% block body %}
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Create new coupon</h3>
        </div>
        {{ form_start(form) }}
        <div class="card-body">
            {{ form_widget(form) }}
        </div>

        <div class="card-footer"style="background-color: #eaeaea ;">
            <button style="background-color: transparent ;" class="btn btn-primary">{{ button_label|default('Save') }}</button>

            <a style="background-color: transparent; border-color:red !important" class="btn btn-danger2" href="{{ path('app_coupon_index') }}">Cancel</a>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
