{% extends 'base.html.twig' %}

{% block title %}Export Price - {{ company.name }} ({{ company.type }}){% endblock %}

{% block body %}
    <div class="card card-primary"style="border-radius:15px !important">
        <div class="card-header"style="border-radius:15px 15px 0px 0px !important">
            <h3 class="card-title">Export Price - {{ company.name }} ({{ company.type }})</h3>
        </div>
        {{ form_start(form) }}
        <div class="card-body">
            {{ form_widget(form) }}
        </div>
  </div>
        <div class="card-footer"style="background-color: #eaeaea ;">
            <button style="padding-left:-2px; background:transparent" class="btn btn-danger btn-back icn4">{{ button_label|default('Export') }}</button>

            <a style=" border-color:red !important;background:transparent" class="btn btn-danger2 btn-back icn4 " href="{{ path('app_company_show',{ id:company.id }) }}">Cancel</a>
        </div>
        {{ form_end(form) }}
  
{% endblock %}
