{% extends 'base.html.twig' %}

{% block title %}New Company{% endblock %}

{% block body %}
  <div class="row">
        <div class="col-12">
<div class="main-order-pg-btn-flex">

<div class="accept-order-img">
<img class="img-set"  src="{{ asset('build/images/Company.png') }}" alt="Logo">

<h2 class="title-heading">Company</h2>
</div>


<div class="order-pg-btn-flex">
<div class="order-pg-btn1">
<img  class="img-order-pix"  src="{{ asset('build/images/Receipt.png') }}" alt="Logo">

<div>

 <p class="img-side-text-order" > New Orders(7)</p>
 </div>
</div>

<div class="order-pg-btn2">
<img  class="img-order-pix"  src="{{ asset('build/images/Receipt.png') }}" alt="Logo">

<div>

 <p class="img-side-text-order" > New Ouote(0)</p>
 </div>
</div>
</div>
</div>


</div>
</div>

    <div class="card card-primary">
        <div class="card-header">
               <div class="card-tools">
                            <ul class="nav nav-pills ml-auto">
                                <li class="nav-item">
                                 
                                </li>
                            </ul>
                        </div>
           <div class="flex-of-comany-form">  <i class="fa fa-building company-icon-head"></i> <p class=" comany-head-form">Company </p> </div>
                                       
        </div>
        {{ form_start(form) }}
        <div class="card-body">
            {{ form_widget(form) }}
        </div>

        <div class="card-footer">
            <button class="btn btn-danger btn-back icn4 ">{{ button_label|default('Save') }}</button>

            <a class="btn btn-danger btn-cancle" href="{{ path('app_company_index') }}">Cancel</a>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
