{% extends 'base.html.twig' %}

{% block title %}Edit Price{% endblock %}

{% block body %}
    <div class="card card-primary"style="border-radius:15px ">
        <div class="card-header"style="border-radius:15px 15px 0px 0px ">
            <h3 class="card-title">Edit Price</h3>
        </div>
        {{ form_start(form) }}
        <div class="card-body">
            {{ form_widget(form) }}
        </div>
 </div>
        <div class="card-footer" style="background-color: #eaeaea ;">
            <button style="background-color: transparent;" class="btn btn-danger btn-back icn4">{{ button_label|default('Save') }}</button>

            <a style="background-color: transparent;border-color:red !important" class="btn btn-danger2 btn-back icn4" href="{{ path('app_zone_show',{'id':zone.id,'companyId':company.id}) }}">Cancel</a>
        </div>
        {{ form_end(form) }}
   
{% endblock %}
