{% extends 'base.html.twig' %}

{% block title %}New Price{% endblock %}

{% block body %}
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Create new Price</h3>
        </div>
        {{ form_start(form) }}
        <div class="card-body">
            {{ form_widget(form) }}
        </div>

        <div class="card-footer">
            <button class="btn btn-danger">{{ button_label|default('Save') }}</button>

            <a class="btn btn-danger" href="{{ path('app_zone_show',{'id':zone.id,'companyId':company.id}) }}">Cancel</a>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
