{# <div class="order-pg-btn-flex">
    <div class="order-pg-btn1">
        <img class="img-order-pix" src="{{ asset('images/Receipt.png') }}" alt="Logo">
        <div>
            <p class="img-side-text-order">New Orders ({{ newOrders|length }})</p>
        </div>
    </div>
    <div class="order-pg-btn2">
        <img class="img-order-pix" src="{{ asset('images/Receipt.png') }}" alt="Logo">
        <div>
            <p class="img-side-text-order">New Quotes ({{ newQuotes|length }})</p>
        </div>
    </div>
</div> #}


<div class="order-pg-btn-flex">
	{% if newOrders|length > 0 %}
		<a href="{{ path('app_new_order_index', {'show_all': 'true', 'filter_status': '', 'filter_start_date': '', 'filter_end_date': ''}) }}" class="order-pg-btn1">
			<img class="img-order-pix" src="{{ asset('images/Receipt.png') }}" alt="Logo">
			<div>
				<p class="img-side-text-order">New Orders ({{ newOrders|length }})</p>
			</div>
		</a>
	{% else %}
    <div class="order-pg-btn1">
		<img class="img-order-pix" src="{{ asset('images/Receipt.png') }}" alt="Logo">
		<div>
			<p class="img-side-text-order">New Orders ({{ newOrders|length }})</p>
		</div>
    </div>
	{% endif %}
	{% if newQuotes|length > 0 %}
		<a href="{{ path('app_new_quote_index', {'show_all': 'true', 'filter_status': '', 'filter_start_date': '', 'filter_end_date': ''}) }}" class="order-pg-btn2">
			<img class="img-order-pix" src="{{ asset('images/Receipt.png') }}" alt="Logo">
			<div>
				<p class="img-side-text-order">New Quotes ({{ newQuotes|length }})</p>
			</div>
		</a>
	{% else %}
    <div class="order-pg-btn2">
		<img class="img-order-pix" src="{{ asset('images/Receipt.png') }}" alt="Logo">
		<div>
			<p class="img-side-text-order">New Quotes ({{ newQuotes|length }})</p>
		</div>
    </div>
	{% endif %}
</div>

