{% extends 'base.html.twig' %}

{% block title %}New Package Type{% endblock %}

{% block body %}
    <div class="card card-primary"style="border-radius:10px !important; padding-top:5px">
        <div class="card-header">
           <h3 class="card-title">
                        <i class="fa-solid fa-whiskey-glass"></i>
                        Package Type - {{ package_type.name }}
                    </h3>
            {# <h3 class="card-title">Create Package Type</h3> #}
        </div>
        {{ form_start(form) }}
        <div class="card-body">
            {{ form_widget(form) }}
        </div>
</div>
        <div class="card-footer">
            <button class="btn btn-danger btn-back icn4">{{ button_label|default('Save') }}</button>

            <a class="btn btn-danger btn-back icn4" href="{{ path('app_package_type_index') }}">Cancel</a>
        </div>
        {{ form_end(form) }}
    
{% endblock %}
