{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}

    <div class="card card-primary"style="border-radius:10px !important; padding-top:5px">
        <div class="card-header">
            <h3 class="card-title">Create new User</h3>
        </div>
        {{ form_start(form) }}
        <div class="card-body">
            {{ form_widget(form) }}
        </div>
</div>
        <div class="card-footer"style="background-color: #eaeaea ; ">
            <button style= "background:transparent" class="btn btn-danger btn-back icn4">{{ button_label|default('Save') }}</button>

            <a  style=" border-color:red !important;color:red !important; background:transparent" class="btn btn-danger btn-back icn4" href="{{ path('app_user_index') }}">Cancel</a>
        </div>
        {{ form_end(form) }}
    
{% endblock %}
