{% extends 'base.html.twig' %}

{% block title %}
	Dashboard
{% endblock %}

{% block body %}

	<div class="row col-12 heading-dashboard view-center">
		<div>
			<h4 class="dashboard-header">Dashboard</h2>
			<p style="color: #6f6f6f" class="about-dashboard">Hi
				{{ app.user.firstName }}
				{{ app.user.lastName }}, Welcome back to Send it</p>
		</div>
		<form class="" id="dateFilterForm" method="GET">
			<div class="calender-input d-flex flex-column">
				<div class="">
					{% include 'controller/new_order_quote/index.html.twig' with {'newOrders': newOrders, 'newQuotes': newQuotes} %}
				</div>
				<div class="d-flex mb-3 calender-flex">
					<p class="calender-align" style="color: #6f6f6f; margin-bottom: 0px;">From:</p>
					<div
						class="input-group password-bg-white2" id="datepickerFrom">
						{# <div class="input-group-append setting">
																		<div class="input-group-text">
																		<img src="{{ asset('images/Calendar.png') }}" alt="Calendar Icon" class="icon-lock-color2"/>
																		</div>
																		</div> #}

						<input type="date" name="fromDate" id="fromDate" class="form-control password-feild2" value="{{ fromDate|default('') }}" / style="padding-top: 0px; padding-bottom: 12px; padding-left: 7px">
					</div>
					<p class="" style="color: #6f6f6f; margin-bottom: 0px; margin-left: 8px; margin-right: 10px;">To:</p>
					<div
						class="input-group password-bg-white2" id="datepickerTo">
						{# <div class="input-group-append setting">
																		<div class="input-group-text">
																			<img src="{{ asset('images/Calendar.png') }}" alt="Calendar Icon" class="icon-lock-color2"/>
																			</div>
																		</div> #}

						<input type="date" name="toDate" id="toDate" class="form-control password-feild2" value="{{ toDate|default('') }}" / style="padding-top: 0px; padding-bottom: 12px; padding-left: 7px">
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="row">
		<div class="col-12 try">
			<div class="outer-div">
				<div class="inner1-div justify-content-between d-flex">
					<div class="col-6">
						<div>
							<div class="d-flex flex-column">
								<h5 class="rupees-heading" style="margin-bottom: 0px;">AED</h5>
								<h5 class="rupees-heading">{{ totalPriceLastYear }}</h5>
							</div>
							<p class="rupees-heading-text">Current Annual Sale</p>
						</div>
						<div>
							<div class="d-flex flex-column">
								<h5 class="rupees-heading flex-heading-1" style="margin-bottom: 0px;">AED</h5>
								<h5 class="rupees-heading">{{ totalPriceLastThirtyDays }}</h5>
							</div>
							<p class="rupees-heading-text">Current Monthly Sale</p>
						</div>
					</div>
					<div class="col-6" style="margin-left: 4px !important; padding-inline: 10px !important;">
						<div>
							<h5 class="rupees-heading " style="margin-top: 27px;">{{ activeCompaniesCount }}</h5>
							<p class="rupees-heading-text"> Active Companies</p>
						</div>
						<div>
							<div class="d-flex flex-column">
								<h5 class="rupees-heading flex-head-2" style="margin-bottom: 0px;">AED</h5>
								<h5 class="rupees-heading">{{ totalPriceLastSevenDays }}</h5>
							</div>
							<p class="rupees-heading-text">Current Weekly Sale</p>
						</div>
					</div>
				</div>

				<div class="inner2-div">
					<div class="oder-outer1">
						<div
							class="oder-inner cj">
							{# <img class="img-set" src="\build\images\two boxes.5cc08a18.5cc08a18.png"> #}
							<img class="img-set-dashboard img-set-large" src="{{ asset('images/twoboxes.png') }}" alt="Logo"/>

							<div>
								<h5 class="rupees-heading">{{ countNewOrders }}</h5>
								<p class="rupees-heading-text">Total New Orders</p>
							</div>
						</div>
						<div
							class="oder-inner cj">
							{# <img class="img-set" src="\build\images\quote.60dca2b5.60dca2b5.png"> #}
							<img class="img-set-dashboard img-set-large" src="{{ asset('images/quote.png') }}" alt="Logo"/>

							<div>
								<h5 class="rupees-heading">{{ countNewQuotes }}</h5>
								<p class="rupees-heading-text">Total New Quotes</p>
							</div>
						</div>
						<div
							class="oder-inner ">
							{# <img class="img-set" src="\build\images\truck.bd146e83.bd146e83.png"> #}
							<img class="img-set-dashboard img-set-large" src="{{ asset('images/truck.png') }}" alt="Logo"/>

							<div>
								<h5 class="rupees-heading">{{ countProcessOrders }}</h5>
								<p class="rupees-heading-text">Total Orders in Process</p>
							</div>
						</div>
					</div>

					<div class="oder-outer1">
						<div
							class="oder-inner cj">
							{# <img class="img-set" src="\build\images\hand trolley.37f630bf.37f630bf.png"> #}
							<img style="margin-left: 8px;" class="img-set-dashboard img-set-large" src="{{ asset('images/handtrolley.png') }}" alt="Logo"/>

							<div>
								<h5 class="rupees-heading">{{ countPendingOrders }}</h5>
								<p class="rupees-heading-text">Total Orders Pending</p>
							</div>
						</div>
						<div class="oder-inner cj">
							<img class="img-set-dashboard img-set-large" src="{{ asset('images/Group.png') }}" alt="Logo"/>

							<div>
								<h5 class="rupees-heading">{{ countCancelledOrders }}</h5>
								<p class="rupees-heading-text">Total Orders Cancelled</p>
							</div>
						</div>
						<div class="oder-inner ">
							<img
							class="img-set-dashboard img-set-large" src="{{ asset('images/phonewithno.png') }}" alt="Logo"/>

							{# <img class="img-set" src="\build\images\phone with numbers.476090a8.png"> #}
							<div>
								<h5 class="rupees-heading">{{ countDraftOrders }}</h5>
								<p class="rupees-heading-text">Total Orders in Draft</p>
							</div>
						</div>
					</div>

					{# <div class="oder-outer1">
											
										</div> #}
				</div>
			</div>
		</div>
	</div>
	{% if orders is not empty %}
		<div class="row">
			<div class="col-12 bgcolor-table">
				<div class="card">
					<div class="card-header">
						<h3
							class="card-title">
							{# <i class="fas fa-file-invoice-dollar"></i> #}
							<img class="icon-set" src="{{ asset('images/PurchaseOrder.png') }}" alt="Logo"/>

							Recent Orders
						</h3>
						<div class="card-tools">
							<button type="button" class="btn btn-tool" data-card-widget="collapse">
								<i style="color:#1985a1 !important" class="fas fa-angle-down rotate-i rotate-i1 rotate-icon-dashboard"></i>
							</button>
						</div>
					</div>
					<div class="card-body">
						<table class="table table-bordered table-hover dataTable2" id="ordersTableList">
							<thead>
								<tr>
									<th class="text-center align-middle">Order ID</th>
									<th class="text-center align-middle">Courier Company</th>
									<th class="text-center align-middle">Country</th>
									<th class="text-center align-middle">Total (AED)</th>
									<th class="text-center align-middle">Status</th>
									<th class="text-center align-middle">Payment Status</th>
									<th class="text-center align-middle">Order Type</th>
									<th class="text-center align-middle">Coupon Code</th>
									<th class="text-center align-middle">Date</th>
									<th class="text-center align-middle">Details</th>
								</tr>
							</thead>
							<tbody>
								{% for order in orders %}
									<tr>
										<td style="width: 15%;">{{ order.orderId }}</td>
										<td style="width: 15%;">
											{{ order.selectedCompany.name }}
										</td>
										<td style="width: 10%;">
											{{ order.sourceCountry.code }}
											<i class="fas fa-arrow-right"></i>
											{{ order.destinationCountry.code }}
										</td>
										<td style="width: 7%;">{{ order.totalPrice }}</td>
										{# <td >{{ order.finalWeight }}</td> #}

										<td style="width: 7%;">{{ order.status }}</td>
										<td style="width: 7%;">{{ order.paymentStatus }}</td>
										<td style="width: 7%;">{{ order.type }}</td>
										<td style="width: 7%;">{{ order.coupon }}</td>
										<td style="width: 19%;">{{ order.createdDate|toTZ }}</td>
										<td style="width: 6%;">
											<a href="{{ path('app_order_show', { id: order.id }) }}" class="btn btn-default">
												<i class="fas fa-info-circle icn"></i>
												Details
											</a>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	{% else %}
		<div class="row">
			<div class="col-12 bgcolor-table">
				<div class="card">
					<div class="card-header">
						<h3
							class="card-title">
							{# <i class="fas fa-file-invoice-dollar"></i> #}
							<img class="icon-set" src="{{ asset('images/PurchaseOrder.png') }}" alt="Logo"/>

							Recent Orders
						</h3>
						<div class="card-tools">
							<button type="button" class="btn btn-tool" data-card-widget="collapse">
								<i style="color:#1985a1 !important" class="fas fa-angle-down rotate-i rotate-i1 rotate-icon-dashboard"></i>
							</button>
						</div>
					</div>
					<div class="card-body">
						<table class="table table-bordered table-hover dataTable2" id="ordersTableList">
							<thead>
								<tr>
									<th class="text-center align-middle">Order ID</th>
									<th class="text-center align-middle">Courier Company</th>
									<th class="text-center align-middle">Weight (kg)</th>
									<th class="text-center align-middle">Total (AED)</th>
									<th class="text-center align-middle">Status</th>
									<th class="text-center align-middle">Payment Status</th>
									{# <th>Coupon Code</th> #}
									<th class="text-center align-middle">Date</th>
									<th class="text-center align-middle">Details</th>
								</tr>
							</thead>

							<tbody>
								<tr>
									<td colspan="8" class="text-center align-middle">No orders found</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

	{% endif %}

	{% if transactions is not empty %}
		<div class="row">
			<div class="col-12 bgcolor-table">
				<div class="card">
					<div class="card-header">
						<h3
							class="card-title">
							{# <i class="fas fa-credit-card"></i> #}
							<img
							class="icon-set" src="{{ asset('images/PurchaseOrder.png') }}" alt="Logo"/>

							{# <img class="icon-set" src="\build\images\Purchase Order (1).32a95068.png"> #}
							Recent Transactions
						</h3>
						<div class="card-tools">
							<button type="button" class="btn btn-tool" data-card-widget="collapse">
								<i style="color:#1985a1" class="fas fa-angle-down rotate-i rotate-i1 rotate-icon-dashboard"></i>
							</button>
						</div>
					</div>
					<div class="card-body">
						<table class="table table-bordered table-hover dataTable2" id="ordersTableList">
							<thead>
								<tr>
									<th class="text-center align-middle">Trans ID</th>
									<th class="text-center align-middle">Order ID</th>
									<th class="text-center align-middle">Amount</th>
									<th class="text-center align-middle">Currency</th>
									<th class="text-center align-middle">Status</th>
									<th class="text-center align-middle">Date</th>
									<th class="text-center align-middle">Details</th>
								</tr>
							</thead>
							<tbody>
								{% for transaction in transactions %}
									<tr>
										<td>{{ transaction.transId }}</td>
										<td>{{ transaction.order.orderId }}</td>
										<td>{{ transaction.paidAmount }}</td>
										<td>{{ transaction.paidCurrency }}</td>
										<td>{{ transaction.paymentStatus }}</td>
										<td>{{ transaction.createdDate|toTZ }}</td>
										<td>
											<a href="{{ path('app_transaction_show', { id: transaction.id }) }}" class="btn btn-default">
												<i class="fas fa-info-circle icn"></i>
												Details
											</a>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	{% else %}
		<div class="row">
			<div class="col-12 bgcolor-table">
				<div class="card">
					<div class="card-header">
						<h3
							class="card-title">
							{# <i class="fas fa-credit-card"></i> #}
							<img
							class="icon-set" src="{{ asset('images/PurchaseOrder.png') }}" alt="Logo"/>

							{# <img class="icon-set" src="\build\images\Purchase Order (1).32a95068.png"> #}
							Recent Transactions
						</h3>
						<div class="card-tools">
							<button type="button" class="btn btn-tool" data-card-widget="collapse">
								<i style="color:#1985a1" class="fas fa-angle-down rotate-i rotate-i1 rotate-icon-dashboard"></i>
							</button>
						</div>
					</div>
					<div class="card-body">
						<table class="table table-bordered table-hover dataTable2" id="ordersTableList">
							<thead>
								<tr>
									<th class="text-center align-middle">Trans ID</th>
									<th class="text-center align-middle">Order ID</th>
									<th class="text-center align-middle">Amount</th>
									<th class="text-center align-middle">Currency</th>
									<th class="text-center align-middle">Status</th>
									<th class="text-center align-middle">Date</th>
									<th class="text-center align-middle">Details</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td colspan="8" class="text-center align-middle">No transaction found</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	{% endif %}

	{% if quotes is not empty %}
		<div class="row">
			<div class="col-12 bgcolor-table">
				<div class="card">
					<div class="card-header">
						<h3
							class="card-title">
							{# <i class="fas fa-question-circle"></i> #}
							<img
							class="icon-set" src="{{ asset('images/PurchaseOrder.png') }}" alt="Logo"/>

							{# <img class="icon-set" src="\build\images\Purchase Order (1).32a95068.png"> #}
							Recent Quotes
						</h3>
						<div class="card-tools">
							<button type="button" class="btn btn-tool" data-card-widget="collapse">
								<i style="color:#1985a1" class="fas fa-angle-down rotate-i rotate-i1 rotate-icon-dashboard"></i>
							</button>
						</div>
					</div>
					<div class="card-body">
						<table class="table table-bordered table-hover dataTable2" id="ordersTableList">
							<thead>
								<tr>
									<th class="text-center align-middle">Quote ID</th>
									<th class="text-center align-middle">Contact Name</th>
									<th class="text-center align-middle">Type</th>
									<th class="text-center align-middle">From</th>
									<th class="text-center align-middle">To</th>
									<th class="text-center align-middle">Status</th>
									<th class="text-center align-middle">Date</th>
									<th class="text-center align-middle">Details</th>
								</tr>
							</thead>
							<tbody>
								{% for quote in quotes %}
									<tr>
										<td style="width: 13%;">{{ quote.quoteId }}</td>
										<td style="width: 15%;">{{ quote.contactName }}</td>
										<td style="width: 10%;">International</td>
										<td style="width: 10%;">{{ quote.sourceCountry.name }}</td>
										<td style="width: 10%;">{{ quote.destinationCountry.name }}</td>
										<td style="width: 10%;">{{ quote.status }}</td>
										<td style="width: 15%;">{{ quote.createdDate|toTZ }}</td>
										<td style="width: 10%;">
											<a href="{{ path('app_quote_show', { id: quote.id }) }}" class="btn btn-default">
												<i class="fas fa-info-circle icn"></i>
												Details
											</a>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	{% else %}
		<div class="row">
			<div class="col-12 bgcolor-table">
				<div class="card">
					<div class="card-header">
						<h3
							class="card-title">
							{# <i class="fas fa-question-circle"></i> #}
							<img
							class="icon-set" src="{{ asset('images/PurchaseOrder.png') }}" alt="Logo"/>

							{# <img class="icon-set" src="\build\images\Purchase Order (1).32a95068.png"> #}
							Recent Quotes
						</h3>
						<div class="card-tools">
							<button type="button" class="btn btn-tool" data-card-widget="collapse">
								<i style="color:#1985a1" class="fas fa-angle-down rotate-i rotate-i1 rotate-icon-dashboard"></i>
							</button>
						</div>
					</div>
					<div class="card-body">
						<table class="table table-bordered table-hover dataTable2" id="ordersTableList">
							<thead>
								<tr>
									<th class="text-center align-middle">Quote ID</th>
									<th class="text-center align-middle">Contact Name</th>
									<th class="text-center align-middle">From</th>
									<th class="text-center align-middle">To</th>
									<th class="text-center align-middle">Type</th>
									<th class="text-center align-middle">Status</th>
									<th class="text-center align-middle">Date</th>
									<th class="text-center align-middle">Details</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td colspan="8" class="text-center align-middle">No quote found</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	{% endif %}


	 <script>
											
											    const fromDateInput = document.getElementById('fromDate')
											    const toDateInput = document.getElementById('toDate')
											    const form = document.getElementById('dateFilterForm')
											    
											    function validateAndSubmit() {
											      const fromDate = fromDateInput.value
											      const toDate = toDateInput.value
											    
											      // Only proceed if both dates are selected
											      if (fromDate && toDate) {
											        if (new Date(fromDate) > new Date(toDate)) {
											          alert('From Date cannot be later than To Date.')
											        } else {
											          form.submit()
											        }
											      }
											    }
											    
											    // Listen for changes on both inputs
											    fromDateInput.addEventListener('change', validateAndSubmit)
											    toDateInput.addEventListener('change', validateAndSubmit)
											    
											    // Remove query parameters from URL on page load
											    window.addEventListener('load', function () {
											      const url = new URL(window.location.href)
											      url.searchParams.delete('fromDate')
											      url.searchParams.delete('toDate')
											      window.history.replaceState({}, document.title, url.pathname)
											    })
											  </script>
{% endblock %}
