{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    {% if orders is not empty %}


    <div class=" row col-12 heading-dashboard">
    <div>
    <h2 class="dashboard-header">Dashboard</h2>
    </div>
          <div class="calender-input">
          <input class="input-1"  type="month" placeholder="form"></input>
          <input class=" input-2"   type="month" placeholder="form"></input>
            
          </div>
    </div>
    <p class="about-dashboard">Hi Asana, Welcome back to Send it</p>
 <div class="row">
            <div class="col-12">
            <div class="outer-div">
   <div class="inner1-div">
                       <div>
             <h5 class="rupees-heading"> $680,526 </h5>
             <p class="rupees-heading-text">Current Annual Sale</p>
                       </div>
                        <div>
             <h5 class="rupees-heading"> $6,800 </h5>
             <p class="rupees-heading-text">Current Monthly Sale</p>
                       </div>

                         <div>
             <h5 class="rupees-heading"> $2,800 </h5>
             <p class="rupees-heading-text">Current Weekly Sale</p>
                       </div>

            </div>

   <div class="inner2-div">

<div class="oder-outer1 ">

<div class="oder-inner cj" >
{# <img class="img-set" src="\build\images\two boxes.5cc08a18.5cc08a18.png"> #}
<img class="img-set"  src="{{ asset('build/images/two boxes.5cc08a18.5cc08a18.png') }}" alt="Logo">


<div>
<h5  class="img-side-head"> 200 </h5>
 <p class="img-side-text" >Total New Orders</p>
 </div>

</div>
<div class="oder-inner">
{# <img class="img-set" src="\build\images\quote.60dca2b5.60dca2b5.png"> #}
<img class="img-set"  src="{{ asset('build/images/quote.60dca2b5.60dca2b5.png') }}" alt="Logo">

<div>
<h5  class="img-side-head"> 200 </h5>
 <p class="img-side-text" >Total New Quotes</p>
 </div>


</div>


</div>

<div class="oder-outer1  ">

<div class="oder-inner cj">

{# <img class="img-set" src="\build\images\hand trolley.37f630bf.37f630bf.png"> #}
<img class="img-set"  src="{{ asset('build/images/hand trolley.37f630bf.37f630bf.png') }}" alt="Logo">

<div>
<h5  class="img-side-head"> 200 </h5>
 <p class="img-side-text" >Total Orders Pending</p>
 </div>

</div>



<div class="oder-inner">
{# <img class="img-set" src="\build\images\truck.bd146e83.bd146e83.png">
 #}
  <img class="img-set"  src="{{ asset('build/images/truck.bd146e83.bd146e83.png') }}" alt="Logo">

<div>
<h5  class="img-side-head"> 200 </h5>
 <p class="img-side-text" >Total Orders in Process</p>
 </div>


</div>


</div>

<div class="oder-outer1">

<div class="oder-inner cj">
  <img class="img-set"  src="{{ asset('build/images/Group 162.2179ca39.2179ca39.png') }}" alt="Logo">

<div>
<h5  class="img-side-head"> 200 </h5>
 <p class="img-side-text" >Total Orders Cancelled</p>
 </div>
</div>
<div class="oder-inner">
  <img class="img-set"  src="{{ asset('build/images/phone with numbers.476090a8.png') }}" alt="Logo">

{# <img class="img-set" src="\build\images\phone with numbers.476090a8.png"> #}
<div>
<h5  class="img-side-head"> 200 </h5>
 <p class="img-side-text" >Total Orders in Draft</p>
 </div>

</div>
</div>
  </div>
    </div>
      </div>
      </div>
        <div class="row">
            <div class="col-12 bgcolor-table">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            {# <i class="fas fa-file-invoice-dollar"></i> #}
                              <img class="icon-set"  src="{{ asset('build/images/Purchase Order (1).32a95068.png') }}" alt="Logo">
                             
                                     Recent Orders
                        </h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i style="color:#1985a1 !important" class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered table-hover" id="ordersTableList">
                            <thead>
                            <tr>
                                <th>Order ID</th>
                                <th>Company</th>
                                <th>Weight (kg)</th>
                                <th>Total (AED)</th>
                                <th>Status</th>
                                <th>Payment Status</th>
                                <th>Date</th>
                                <th>Details</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for order in orders %}
                                <tr>
                                    <td>
                                        {{ order.orderId }}
                                    </td>
                                    <td>{{ order.selectedCompany.name }} ( {{ order.sourceCountry.code }} <i class="fas fa-arrow-right"></i> {{ order.destinationCountry.code }} )</td>
                                    <td>{{ order.finalWeight }}</td>
                                    <td>{{ order.totalPrice }}</td>
                                    <td>{{ order.status }}</td>
                                    <td>{{ order.paymentStatus }}</td>
                                    <td>{{ order.createdDate|toTZ }}</td>
                                    <td><a href="{{ path('app_order_show',{'id':order.id}) }}"  class="btn btn-default"><i class="fas fa-info-circle icn"></i> Details</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if transactions is not empty %}
        <div class="row">
            <div class="col-12 bgcolor-table">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            {# <i class="fas fa-credit-card"></i> #}
                              <img class="icon-set" src="{{ asset('build/images/Purchase Order (1).32a95068.png') }}" alt="Logo">

                             {# <img class="icon-set" src="\build\images\Purchase Order (1).32a95068.png"> #}
                            Recent Transactions
                        </h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i style="color:#1985a1"  class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered table-hover" id="ordersTableList">
                            <thead>
                            <tr>
                                <th>Trans ID</th>
                                <th>Order ID</th>
                                <th>Amount</th>
                                <th>Currency</th>
                                <th>Status</th>
                                <th>Date</th>
                                <th>Details</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for transaction in transactions %}
                                <tr>
                                    <td>{{ transaction.transId }}</td>
                                    <td>{{ transaction.order.orderId }}</td>
                                    <td>{{ transaction.paidAmount }}</td>
                                    <td>{{ transaction.paidCurrency }}</td>
                                    <td>{{ transaction.paymentStatus }}</td>
                                    <td>{{ transaction.createdDate|toTZ }}</td>
                                    <td><a href="{{ path('app_transaction_show',{'id':transaction.id}) }}"  class="btn btn-default"><i class="fas fa-info-circle icn "></i> Details</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if quotes is not empty %}
        <div class="row">
            <div class="col-12 bbgcolor-table">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            {# <i class="fas fa-question-circle"></i> #}
                              <img class="icon-set"  src="{{ asset('build/images/Purchase Order (1).32a95068.png') }}" alt="Logo">

                            {# <img class="icon-set" src="\build\images\Purchase Order (1).32a95068.png"> #}
                            Recent Quotes
                        </h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i style="color:#1985a1"  class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered table-hover" id="ordersTableList">
                            <thead>
                            <tr>
                                <th>Quote ID</th>
                                <th>Contact Name</th>
                                <th>From</th>
                                <th>To</th>
                                <th>Type</th>
                                <th>Status</th>
                                <th>Date</th>
                                <th>Details</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for quote in quotes %}
                                <tr>
                                    <td>{{ quote.quoteId }}</td>
                                    <td>{{ quote.contactName }}</td>
                                    <td>{{ quote.sourceCountry.code }}</td>
                                    <td>{{ quote.destinationCountry.code }}</td>
                                    <td>{{ quote.type }}</td>
                                    <td>{{ quote.status }}</td>
                                    <td>{{ quote.createdDate|toTZ }}</td>
                                    <td><a href="{{ path('app_quote_show',{'id':quote.id}) }}"  class="btn btn-default"><i class="fas fa-info-circle icn "></i> Details</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
