{% extends 'emails/base.html.twig' %}

{% block body %}
    <p>Dear {{ user.firstName }}</p>
    <p>The your login credentials has been updated. Please use the following to login to the website.</p>
    <p>Email: {{ userEmail }}</p>
    <p>Password: {{ userPassword }}</p>
    <p>Login URL: <a href="{{ loginURL }}" target="_blank" rel="noopener">{{ loginURL }}</a></p>
    <p>If you have any trouble login to the website please email <a href="mailto:support@sendit.world">support@sendit.world</a>.</p>
    <p>
        Regards<br>
        Send it Team
    </p>
{% endblock %}