{% extends 'base.html.twig' %}

{% block title %}Orders{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-file-invoice-dollar"></i>
                        Orders
                    </h3>
                </div>

                <div class="card-body">

                    <div class="row align-items-center ">
                        <div class="col-md-3" style="padding: 5px;">
                            <select id="filter_status" name="filter_status" class="form-control">
                                <option value="">Filter Status</option>
                                {% for status in orderStatus %}
                                    <option {% if app.request.get('filter_status')== status %} selected {% endif %} value="{{ status }}">{{ status }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-4"  style="padding: 5px;">
                            <div id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc;">
                                <i class="fa fa-calendar"></i>&nbsp;
                                <span></span> <i class="fa fa-caret-down"></i>
                            </div>
                            <input type="hidden" id="filter_start_date" name="filter_start_date" />
                            <input type="hidden" id="filter_end_date" name="filter_end_date" />
                        </div>
                    </div>


                    <table class="table table-bordered table-hover" id="ordersTableList">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Order ID</th>
                            <th>Company</th>
                            <th>Weight (kg)</th>
                            <th>Total (AED)</th>
                            <th>Status</th>
                            <th>Payment Status</th>
                            <th>Order Type</th>
                            <th>Coupon Code</th>
                            <th>Date</th>
                            <th>Details</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block inlineCss %}
    <style>
        td.details-control {
            background: url({{ asset('build/images/icons/open.svg') }}) no-repeat center center;
            background-size: 16px 16px;
            cursor: pointer;
        }
        tr.details td.details-control {
            background: url({{ asset('build/images/icons/closed.svg') }}) no-repeat center center;
            background-size: 16px 16px;
        }
    </style>
    <link rel="stylesheet" href="{{ asset('build/js/daterangepicker/daterangepicker.css') }}">
{% endblock %}

{% block inlineJs %}
    <script src="{{ asset('build/js/daterangepicker/moment.min.js') }}"></script>
    <script src="{{ asset('build/js/daterangepicker/daterangepicker.js') }}"></script>
    <script>
        let ordersTable;
        function format ( d ) {
            return 'Name: '+d.user.firstName+' '+d.user.lastName+'<br>'+
                'Email: '+d.user.email+'<br>'+
                'Mobile: '+d.user.mobile;
        }

        $(document).ready(function () {
            var start = moment().subtract(29, 'days');
            var end = moment();

            function cb(start, end) {
                $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                $('#filter_start_date').val(start.format('YYYY-MM-DD'));
                $('#filter_end_date').val(end.format('YYYY-MM-DD'));
                if(ordersTable){
                    ordersTable.ajax.reload();
                }
            }

            $('#reportrange').daterangepicker({
                startDate: start,
                endDate: end,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                }
            }, cb);

            cb(start, end);

            $( "#filter_status" ).change(function() {
                ordersTable.ajax.reload();
            });

            ordersTable = $('#ordersTableList').DataTable({
                "paging": true,
                "searching": true,
                "ordering": false,
                "responsive": true,
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "{{ path('app_order_index') | raw }}",
                    "type": 'POST',
                    'data': function (params) {
                        params.filter_status = $('#filter_status').val();
                        params.filter_start_date = $('#filter_start_date').val();
                        params.filter_end_date = $('#filter_end_date').val();
                        return params;
                    },
                    global: true
                },
                "columns": [
                    {
                        "class":          "details-control",
                        "orderable":      false,
                        "data":           null,
                        "defaultContent": ""
                    },
                    {"data": "orderId"},
                    {
                        "data": "company",
                        "render": function (data, type, row, meta) {
                            return row['company'] + ' (' + row['from'] + ' <i class="fas fa-arrow-right"></i> ' + row['to'] + ')';
                            // return '<a href="' + data['details'] + '" class="btn btn-default"><i class="fas fa-info-circle"></i> Details</a>';
                        }
                    },
                    {"data": "weight"},
                    {"data": "price"},
                    {"data": "status"},
                    {"data": "paymentStatus"},
                    {"data": "discounted"},
                    {"data": "coupon"},
                    {"data": "createdDate"},
                    {
                        "data": "action",
                        "render": function (data) {
                            return '<a href="' + data['details'] + '" class="btn btn-default"><i class="fas fa-info-circle"></i> Details</a>';
                        }
                    }
                ]
            });

            // Array to track the ids of the details displayed rows
            var detailRows = [];

            $('#ordersTableList tbody').on( 'click', 'tr td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = ordersTable.row( tr );
                var idx = $.inArray( tr.attr('id'), detailRows );

                if ( row.child.isShown() ) {
                    tr.removeClass( 'details' );
                    row.child.hide();

                    // Remove from the 'open' array
                    detailRows.splice( idx, 1 );
                }
                else {
                    tr.addClass( 'details' );
                    row.child( format( row.data() ) ).show();

                    // Add to the 'open' array
                    if ( idx === -1 ) {
                        detailRows.push( tr.attr('id') );
                    }
                }
            } );

            // On each draw, loop over the `detailRows` array and show any child rows
            ordersTable.on( 'draw', function () {
                $.each( detailRows, function ( i, id ) {
                    $('#'+id+' td.details-control').trigger( 'click' );
                } );
            } );

            $('#btnSearch').click(function () {
                ordersTable.ajax.reload();
                return false;
            });

        });
    </script>
{% endblock %}

