{% extends 'base.html.twig' %}

{% block title %}Edit Locale{% endblock %}

{% block body %}
<div class="row">
        <div class="col-12">
<div class="main-order-pg-btn-flex">

<div class="accept-order-img">
<img class="img-set"  src="{{ asset('build/images/Region.ba620b14.png') }}" alt="Logo">

<h2 class="title-heading"> Locale</h2>
</div>

<div class="order-pg-btn-flex">
<div class="order-pg-btn1">
<img  class="img-order-pix"  src="{{ asset('build/images/Receipt.bedbb541.png') }}" alt="Logo">

<div>

 <p class="img-side-text-order" > New Orders(7)</p>
 </div>
</div>

<div class="order-pg-btn2">
<img  class="img-order-pix"  src="{{ asset('build/images/Receipt.bedbb541.png') }}" alt="Logo">

<div>

 <p class="img-side-text-order" > New Ouote(0)</p>
 </div>
</div>
</div>
</div>
    <div class="card card-primary">
        {# <div class="card-header">
            <h3 class="card-title">Edit Locale</h3>
        </div> #}
        {{ form_start(form) }}
        <div class="card-body">
            {{ form_widget(form) }}
        </div>

        <div class="card-footer">
            <button class="btn btn-primary">{{ button_label|default('Save') }}</button>

            <a class="btn btn-danger" href="{{ path('app_locale_index') }}">Cancel</a>
            {{ form_end(form) }}

            {% if is_granted('ROLE_SUPER_ADMIN')  %}
                <form method="post" style="display: inline;" action="{{ path('app_locale_delete', {'id': locale.id}) }}"
                      onsubmit="return confirm('Are you sure you want to delete this locale?');">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ locale.id) }}">
                    <button style="margin-left:10px" class="btn btn-danger"><i class="fas fa-minus-circle"></i> Delete</button>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}
